@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	width: 100%
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden
	opacity: 1
	height: 0px



canvas
	position: absolute
	display: block
	z-index: -9999
	image-rendering: optimizeSpeed
	image-rendering: -moz-crisp-edges
	image-rendering: -webkit-optimize-contrast
	image-rendering: optimize-contrast
	-ms-interpolation-mode: nearest-neighbor


@import "media" // Всегда в конце
